.container {
    display: flex;
    align-content: space-around;
    padding: 100px;
}

.right {
    width: 75%;
    padding: 0 50px;
}

p {
    font-size: 24px;
}

a {
     color: #00bcd4;
 }

a:visited {
    color: #008da0;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#about .right {
    display: flex;
}

#about p {
    padding: 0 50px;
}

ul {
    padding: 0;
}

ul {
    list-style: none;
}

/* Medium Large Screens */
@media all and (max-width: 1300px) {
    .container {
        padding: 50px;
    }
}

/* Medium and Small Screens */
@media all and (max-width: 800px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .right, .left {
        width: 100%;
        padding: 0;
    }

    p {
        font-size: 18px;
    }

    #about p {
        padding: 0;
    }
}